.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

svg {
    width: 75%;
    cursor: pointer;
    fill: #4b4b4b;
}

.fs {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

.memo {
    overflow: hidden;

    .header {
        z-index: 1000;
        position: absolute;
        background-color: #495058;
        cursor: grabbing;
    }

    textarea {
        z-index: 999;
        position: absolute;
        padding: 5px;
        background-color: #303841;
        color: #bfc5d0;
        font-size: 1.5rem;
    }
}
