.slot {
    display: flex;
    gap: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 110px;
    border: 2px solid wheat;
    border-radius: 10px;
    background-color: #22262a;
    overflow: hidden;

    &.disconnected {
        border: 2px solid #858077;
        color: #858077;
    }
}

.questions {
    display: flex;
    align-items: center;
    gap: 5px;

    .svg {
        width: 30px;
        height: 30px;

        &.question {
            width: 26px;
            height: 26px;
            margin: 2px;
        }
    }
}

.bottom {
    height: 35px;
    display: flex;
    align-items: center;
}

.decisions {
    display: flex;
    align-items: center;
    gap: 5px;

    .button {
        display: flex;
        align-items: center;
        gap: 3px;
        background-color: #303841;
        border: 1px solid #303841;
        padding: 4px;
        border-radius: 4px;
        color: #a4a4a9;

        &.active {
            border: 1px solid #fda033;
            color: #fda033;
        }
    }
}

.yes {
    width: 25px;
    height: 25px;
    fill: #386238;
}

.no {
    width: 25px;
    height: 25px;
    fill: #b26c6c;
}

.doubt {
    width: 22px;
    height: 22px;
    fill: #dfd9d9;
}
