.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.players {
    display: flex;
    margin: 2% auto;
}

.controls {
    display: flex;
    gap: 20px;
    margin: 300px auto 0;
}
